<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title th:text="#{common.pageTitle}">Default Title</title>

    <!-- CSS Files -->
    <link th:href="@{/css/sb-admin/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin/metisMenu.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/js/dynatree/ui.dynatree.css}" rel="stylesheet" id="skinSheet">
    <link th:href="@{/js/fullcalendar5/main.css}" rel='stylesheet'>
    <link th:href="@{/js/datepicker/datepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin/morris.css}" rel="stylesheet">
    <link th:href="@{/css/sign.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/index.css}" rel="stylesheet">

    <!-- IE8 Support -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- JavaScript Files -->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/dynatree/jquery.dynatree.js}"></script>
    <script th:src="@{/css/sb-admin/bootstrap.min.js}"></script>
    <script th:src="@{/css/sb-admin/metisMenu.min.js}"></script>
    <script th:src="@{/css/sb-admin/sb-admin-2.js}"></script>
    <script th:src="@{/js/fullcalendar5/main.js}"></script>
    <script th:src="@{/js/fullcalendar5/locales-all.js}"></script>
    <script th:src="@{/js/datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/ckeditor5/ckeditor5.umd.js}"></script>
    <script th:src="@{/css/sb-admin/raphael-min.js}"></script>
    <script th:src="@{/css/sb-admin/morris.min.js}"></script>
    <script th:src="@{/js/mts.js}"></script>
</head>