<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
</head>
<body>
<h1>QR Code</h1>
<img width="150" th:src="'data:image/png;base64,'+${qrCode0}" alt="QR Code"><br>[[${qrCodeKey0}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode1}" alt="QR Code"><br>[[${qrCodeKey1}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode2}" alt="QR Code"><br>[[${qrCodeKey2}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode3}" alt="QR Code"><br>[[${qrCodeKey3}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode4}" alt="QR Code"><br>[[${qrCodeKey4}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode5}" alt="QR Code"><br>[[${qrCodeKey5}]]<br><br><br><br>
<img width="150" th:src="'data:image/png;base64,'+${qrCode6}" alt="QR Code"><br>[[${qrCodeKey6}]]<br><br><br><br>
</body>
</html>